.mobile-menu {
  position: fixed;
  transform: ScaleX(0);
  background-color: white;
  z-index: 5;
  padding: 2rem 1rem;
  width: 70%;
  top: 0;
  max-width: 25rem;
  min-height: 100vh;
  transition: transform 100ms ease-in-out;
  transform-origin: left;

  &.visible {
    transform: ScaleX(1);
  }
}

.mobile-logo {
  cursor: pointer;
}

.mobile-menu-overlay {
  position: fixed;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: black;
  min-height: 100vh;
  opacity: 0.8;
  cursor: pointer;
}

.mobile-menu-overlay.visible {
  display: block;
}
