@import '../../variables';

.form {
  background-color: white;
  width: 90%;
  max-width: 17rem;
  margin: var(--element-margin) auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.5rem var(--default_padding);
  box-shadow: map-get($map: $shadows, $key: soft);

  .field {
    margin-bottom: var(--default_margin);

    &.footer {
      text-align: center;
      font-size: 1rem;
    }

    a {
      font-weight: 400;
      color: rgb(23, 135, 143);
    }
  }

  .field-error {
    font-size: 0.75rem;
    color: var(--primary-red);
  }

  label {
    display: block;
    margin-bottom: 0.3rem;
  }

  input {
    width: 100%;
    padding: 0.3rem;
    border: 1px solid var(--default-border-color);
    border-radius: 0.3rem;
  }

  button {
    width: 100%;
    padding: 0.3rem;
    background-color: var(--primary-red);
    color: white;
    border: none;
    border-radius: 0.3rem;
    position: relative;
    margin-bottom: 1rem;

    &.disabled {
      background-color: rgb(243, 237, 237);
    }

    &:active {
      top: 1px;
    }
    &:focus {
      outline: none;
    }
  }
}
