@mixin font-size($min, $val, $max, $default-m: $min, $default-l: $max) {
  $clamp: #{'clamp(#{$min}, #{$val}, #{$max})'};
  font-size: $default-m;

  @media screen and (min-width: 48rem) {
    font-size: $default-l;
  }

  @supports (font-size: clamp(2px, 2px, 2px)) {
    font-size: $clamp;
  }
}

.product-detail {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;

  &.not-mobile {
    display: flex;

    .product-header-wrapper {
      flex-grow: 1;
    }

    @media screen and (max-width: 920px) {
      flex-direction: column;
    }
  }

  .product-gallery {
    display: flex;
    margin: 0;
    overflow: auto;
    margin-bottom: 1rem;
    scroll-snap-type: x mandatory;
    scroll-padding: 1rem;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &.not-mobile {
      overflow: unset;
      display: grid;
      align-self: center;
      grid-template-columns: 3rem 20.625rem;
      grid-column-gap: 0.5rem;
      height: 20.625rem;
      width: min-content;
      margin-right: 2rem;

      .product-thumbnails {
        display: flex;
        flex-direction: column;
      }
    }

    .preview-images {
      cursor: pointer;
      height: 200px;
      scroll-snap-align: start;
      border: 1px solid rgb(224, 222, 222);
      margin-right: 0.5rem;
      border-radius: 0.3rem;

      > img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.product-header {
  .product-title {
    font-size: 1rem;
    font-weight: 400;
  }
  .product-header_info {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;

    .material-type {
      color: gray;
      font-size: 1.2rem;
    }
  }

  .link {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
  }
}

.product-description-container {
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 2rem;
  padding: 0.7rem 0.5rem;
}

.product-description {
  background-color: white;
  @include font-size(0.8rem, 7vw, 1rem);

  overflow: hidden;
  line-height: 1.2rem;
  max-height: 4.8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.show-more {
  display: flex;
}

select {
  padding: 0.2rem;
  border: 2px solid #7e7c7c;
  border-radius: 0.4rem;
}
