.lds-dual-ring {
  display: block;
  width: 7rem;
  height: 7rem;
  margin: 1rem auto;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 0.3rem solid rgb(223, 216, 216);
  border-color: rgb(223, 216, 216) transparent rgb(223, 216, 216) transparent;
  animation: lds-dual-ring 1000ms linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
