@import '../../variables';

.product {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 100ms ease;
  border-radius: 0.3rem;
  height: 17.625rem;
  width: 15.4rem;
  border: 1px solid #80808080;

  &:hover {
    transform: scale(1.013);
    box-shadow: map-get($shadows, 'hover');
  }

  .product-title {
    padding: 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.9rem;
    text-overflow: ellipsis;
  }
}
