.custom-btn {
  width: 50%;
  position: relative;
  cursor: pointer;
  max-width: 25rem;
  line-height: 18.4px;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.7rem;
  display: block;
  margin: 0px auto;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  text-align: center;
  color: black;
  background-color: rgb(255, 129, 0);
  position: relative;
  transition: all 200ms ease;

  &.black {
    background-color: rgb(3, 2, 0);
    color: white;

    &:hover,
    &:active {
      background-color: rgb(255, 254, 255);
      color: black;
    }
  }

  &:hover,
  &:active {
    background-color: darken(rgb(255, 129, 0), 5);
  }

  &:active {
    top: 1px;
  }
}
