.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid var(--default-border-color);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 6;
  background-color: white;

  @media screen and (min-width: 48rem) {
    padding: 1rem var(--container-padding);
  }

  .nav-item {
    width: 25px;
    margin: 0 1rem;
    cursor: pointer;

    .icon {
      width: 100%;
      height: auto;
    }
  }

  .shop-categories {
    width: min-content;
    margin: 0 2rem;
  }

  .right-sided-nav-items {
    margin-left: auto;
    display: flex;
  }

  .user-icon {
    width: 50px;
  }

  .cart-icon {
    margin-left: auto;
  }
}
