.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  background-color: white;
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
    0px 1px 3px 1px rgba(60, 64, 67, 0.15);

  @media screen and (min-width: 48rem) {
    padding: 1rem var(--container-padding);
  }

  .nav-item {
    width: 25px;
    margin: 0 1rem;
    cursor: pointer;

    .icon {
      width: 100%;
      height: auto;
    }
  }

  .shop-categories {
    width: min-content;
    margin: 0 2rem;
  }

  .right-sided-nav-items {
    margin-left: auto;
    display: flex;
  }

  .user-icon {
    width: 50px;
  }

  .cart-icon {
    margin-left: auto;
    position: relative;
  }

  .item-count {
    position: absolute;
    background: rgb(234, 82, 82);
    color: white;
    padding: 0.3rem;
    border-radius: 50%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    top: -15px;
    left: 15px;
  }
}
