@import '../variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  --c-black_100: #{$black};
  --default_padding: #{$default-padding};
  --default_margin: #{$default-margin};
  --primary-red: #{$primary-red};
  --default-border: #{$default-border};
  --default-border-color: #{$default-ouline-color};
  --element-margin: #{$element-margin};
}

body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

// .container {
//   padding: 1rem;
// }
