.shop-collection-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 0.5rem 0;
  justify-items: center;
  background: white;

  @media screen and (min-width: 38rem) {
    grid-gap: 4rem;
  }

  .shop-collection {
    height: 210px;
    width: 145px;
  }
}
