$color: #949494;

.footer {
  color: $color;
  background-color: black;
  padding: 3rem var(--container-padding) 7rem;
  line-height: 1.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;

  section {
    width: 90%;

    .social-link {
      margin-top: 1rem;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > a {
        width: 35px;
        height: auto;
      }
    }

    input,
    button {
      padding: 0.2rem 0.3rem;
    }
  }

  @media screen and (min-width: 700px) {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    section {
      max-width: 40%;
    }
  }

  @media screen and (min-width: 1048px) {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    section {
      max-width: 23%;
    }
  }

  header {
    color: #fff;
  }

  a {
    color: $color;

    &:hover {
      color: #fff;
    }
  }
}
