.search-bar {
  width: 85%;
  max-width: 35rem;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    position: relative;
    top: unset;
    left: unset;
    transform: none;
    border: 2px solid var(--default-border-color);
    border-radius: 1.5rem;
    margin: 0 1rem;
  }

  input {
    background-color: white;
    border: none;
    border-radius: 1.5rem;
    width: 100%;
    padding: 0.6rem 4rem;
  }

  button {
    position: absolute;
    right: 9%;
    width: 33px;
    background-color: transparent;
    border: none;

    > * {
      width: 100%;
      height: auto;
    }
  }
}
