.search-bar {
  width: 85%;
  max-width: 30rem;
  position: absolute;
  top: 130%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition-property: background-color, top;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(1, 0.44, 0, 1.71);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1.5rem;

  @media screen and (min-width: 48rem) {
    position: relative;
    top: 0;
    max-width: 40rem;
    left: unset;
    transform: none;
    border-radius: 1.5rem;
    margin: 0 1rem;
    background-color: whitesmoke;
  }

  input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0.6rem 4rem;
  }

  button {
    position: absolute;
    left: 2rem;
    width: 1.6rem;
    background-color: transparent;
    border: none;

    > * {
      width: 100%;
      height: auto;
    }
  }
}
