.checkout-page {
  margin: 8rem var(--container-padding);

  h3 {
    text-align: center;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50%;
  }
}
