.collection-wrapper {
  padding: 0.2rem;
  background-color: #f8f8f8;
  margin-bottom: 1rem;

  .collection-products {
    display: flex;
    background-color: white;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 1rem;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .collection-product {
      margin-bottom: 1rem;
      cursor: pointer;
      flex: 1 0 170px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      min-height: 260px;
      margin-right: 0.4rem;
      scroll-snap-align: start;
      @media screen and (min-width: 48rem) {
        flex: 1 1 170px;
      }
    }

    .product-title {
      padding: 0.5rem 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
