@import '../../variables';

.collection-wrapper {
  padding: 0.5rem;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: map-get($shadows, 'separator');
  .collection-header {
    display: flex;
    justify-content: space-between;

    > * {
      margin-top: 0;
    }
  }

  .collection-products {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 1rem;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .collection-product {
      margin-bottom: 1rem;
      cursor: pointer;
      flex: 1 0 170px;
      display: flex;
      flex-direction: column;
      margin-right: 0.4rem;
      scroll-snap-align: start;
      @media screen and (min-width: 48rem) {
        flex: 1 1 170px;
      }
    }
  }
}
